Package: com.shad0wr00t.testtweak
Name: testtweak
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: shadowr00t
Author: shadowr00t
Section: Tweaks
